<%- include('./partials/header') %>
    <title>SplashPage</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <h1>Baby App</h1>
            <img src="/images/baby-nipple-isolated-white-background-childrens-design-clip-art-element_433804-491.avif" alt="">
        </div>
    </header>
    <div class="box">
    <a href="/babies/new" class="links">Enter Baby Info</a>&nbsp&nbsp&nbsp<a href="/babies" class="links">All Babies</a>
    </div>
</body>
</html>