<%- include('../partials/header') %>
</head>
<body>
    <table>
        <thead>
            <% feeding.forEach(f => { %>
    <tr>
            <td><%= f.feedingtype %></td>
            <td><%= f.timestamp %></td>
    </tr>
        </thead>
    </table>
        <%  })%>

<%- include('../partials/footer') %>