<%- include('../partials/header') %>
</head>
<body>
    <table>
        <thead>
    <tr>
        <% feeding.forEach(f => { %>
            <td><%= f.feedingtype %></td>
            <td><%= f.timestamp %></td>
    </tr>
        </thead>
    </table>
        <%  })%>
</body>
<%- include('../partials/footer') %>