<%- include('../partials/header') %>
</head>
<body>
    <form action="/feed/<%= babyid %>" method="POST">
    <h1 class="bbname"><%= baby.name %>:</h1>
    <table class="infotable">
        <tr>
    <th><label>Feeding Type</label></th>
    <td><select name="feedingtype">
        <option value="Breastfeeding">Breastfeeding</option>
        <option value="Bottle Feeding">Bottle Feeding</option>
        <option value="Solids">Solids</option>
        <option value="Baby Food">Baby Food</option>
    </select>
    </td>
    </tr>
    <th><label>Time</label></th>
    <td><input type="time" name="timestamp"> 
    </td>   
    <tr>
        <td colspan="2" ><button type="submit" class="submit">Submit</button>
        </td>
    </tr>
    </form>
</table>
</body>
</html>