<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/feed/<%= babyid %>" method="POST">
    <label><%= baby.name %></label>
    <label>Feeding Type</label>
    <input type="text" name ='feedingtype'>
    <label>Time</label>
    <input type="time" name="timestamp">
    <button type="submit">Submit</button>
    </form>
</body>
</html>