<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
test
    <% allBabies.forEach(b => { %>
        <tr>
            <td><%= b.name %></td>
            <td><%= b.dateofbirth %></td>
            <td><%= b.gender %></td>
            
        </tr>
        <%  })%>
</body>
</html>