<h2>Enter Information</h2>
<form action="/babies" method="POST">
    <label>Name:</label>
    <input type="text" name="name">
    <label>Date of Birth</label>
    <input type="date" name ="dateofbirth">
    <label>Gender</label>
    <select name="gender">
        <option value="Male">Male</option>
        <option value ="Female">Female</option>
    </select>
    <button type="submit">submit</button>
</form>